@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Orbitron:wght@400..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
:root{
  --bgc:hsl(0, 0%, 0%);
  --c1:hsl(355.38deg 65.82% 69.02%);
  --c2:hsl(167.93deg 92.93% 61.18%);
  --c3:hsl(206.4deg 13.97% 64.9%);
  --btn:hsl(118.57deg 60% 72.55%);
  --sc:hsl(88, 63%, 73%);
  --c:white;
  --sc:hsl(0deg 0% 35.69%);
  --secbtn:hsl(0, 3%, 21%);
  --hf:"Orbitron", sans-serif;
  --scf:"Zain", sans-serif;
  --navf:"Google Sans Flex", sans-serif;
}
* {
  margin: 0;
  /* padding: 0; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: auto;
}

.nav-list {
  width: 100%;
  height: 60px;
  background-color: var(--bgc);
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 0px 15px;
  cursor: pointer;
  /* margin-left: 50px; */
}
.m{
  font-size: 40px;
  font-family: var(--hf);
  color: var(--c);
  margin-right:55%;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  display: inline-block;
  font-size: large;
  font-family:var(--navf);
}

.nav-list li a:hover {
  text-decoration: none;
  color: #032cb3;
  transform: translateY(-2px);
}

.background {
 background-color: var(--bgc);
  background-size: cover;
  background-blend-mode: darken;
  /* background-size: auto; */
}
.first{
  display: flex;
  margin-top: 4%;
  color: var(--c);
  font-family: var(--scf);
  margin-left: 7%;
}
.head{
  font-size: 66px;
  width: 30%;
}
.para{
 margin-left: 7%;
  width: 26%;
  color: var(--sc);
  margin-top: 2.6%;
}.btn{
  border: 2px solid white;
  border-radius: 30px;
  display: inline-block;
  height: 30px;
  width: 70px;
  padding: 7px;
}

