{% extends 'base.html' %}
<title>Gliyarmo</title>
{% block body %}
<section class="firstsection">
  <div class="box-main">
    <div class="first">
      <br>
      <h1 class="z">Welcome to Our Educational Platform</h1>
      <br>
      <p class="k">Welcome to a smart and student-friendly learning website designed to support your academic journey. Here,
        students can find reliable board questions, helpful study blogs, and powerful learning tools—all in one place.
      </p>
      <br>
      <p class="k">Our platform is built to help students understand concepts clearly, practice effectively, and prepare
        confidently for exams. Whether you are revising for a board exam or improving daily study skills, this website
        is here to support you.</p>
      <br>
      <div class="button m">
      <a href="about" class="btn-link">
        Learn More About Us
      </a>
      </div>
    </div>
  </div>


</section>
{% endblock body %}
{% block content %}
  <div class="left">
    
  </div>
{% endblock content %}